<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{answer['title']}}</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"/>
</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h4>И на Марсе будут яблони цвести!</h4>
<p>Фамилия: {{answer['surname']}}</p>
<p>Имя: {{answer['name']}}</p>
<p>Образование: {{answer['education']}}</p>
<p>Профессия: {{answer['profession']}}</p>
<p>Пол: {{answer['sex']}}</p>
<p>Мотивация: {{answer['motivation']}}</p>
<p>Готовы остаться на Марсе? {{answer['ready']}}</p>
</body>
</html>