h4 {
    margin-left: 20px;
    color: burlywood;
}

h1 {
    margin-left: 20px;
}

.young {
    filter: opacity(50%);
}

.female {
    background-color: darkorange;
    width: 200px;
    height: 200px;
}

.male {
    background-color: blue;
    width: 200px;
    height: 200px;
    text-align: center;
}

.mane {
    background-color: RGB(178, 178, 178);
    text-align: center;
    color: black;
}

img {
    width: 200px;
    height: 200px;
}